@use 'reset';
@use 'fonts';
@use 'index' as *;
@use 'sass:list';

body {
  background: #1E213F;
  font-family: var(--font-family);

  @for $i from 0 through 2 {
    &[data-color-theme='#{$i}'] {
      --accent-color: #{nth($colors, $i + 1)};
    }

    &[data-font-theme='#{$i}'] {
      --font-family: #{nth($fonts, $i + 1)};
    }
  }
}
