@use 'index' as *;
@use 'sass:color';

:host {
  display: block;
}

input {
  appearance: none;
}

dialog {
  all: unset;
}

form {
  position: relative;
  border-radius: 25px;
  background: #FFF;
  padding: 34px 40px 60px;
  width: 540px;

  @include mobile {
    border-radius: 15px;
    width: 327px;
    padding: 24px 24px 60px;
  }
}

// SHARED SECTION **************************************************
h2 {
  // Typography
  color: #161932;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;

  @include mobile {
    font-size: 11px;
    letter-spacing: 4.231px;
  }
}

hr {
  &.separator {
    margin: 24px 0;
    background: change-color(#161932, $alpha: 0.1);
  }

  &.main-separator {
    position: absolute;
    top: 93px;
    left: 0;
    background: #E3E1E1;

    @include mobile {
      top: 72px;
    }
  }
}

section {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  &:first-of-type {
    margin-top: 60px;
    flex-direction: column;

    @include mobile {
      margin-top: 53px;

      h2 {
        text-align: center;
      }
    }
  }

  &:not(:first-of-type) {
    justify-content: space-between;
    align-items: center;

    @include mobile {
      gap: 18px;
    }
  }
}

// HEADER SECTION **************************************************
.cross {
  position: absolute;
  top: 47px;
  right: 38px;

  @include mobile {
    top: 29px;
    right: 24px;
  }
}

h1 {
  color: #161932;
  font-size: 28px;
  font-weight: 700;

  @include mobile {
    font-size: 20px;
  }
}

// NUMBER SECTION **************************************************
.number-unit {
  position: relative;
}

.number-group {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    margin-top: 18px;
    flex-direction: column;
    gap: 8px;
  }

  label {
    width: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mobile {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    // Typography
    color: change-color($color: #1E213F, $alpha: 0.4);
    font-size: 12px;
    font-weight: 700;
  }
}

input[type="number"] {
  all: unset;
  cursor: text;
  width: 140px;
  height: 48px;
  border-radius: 10px;
  background: #EFF1FA;

  @include mobile {
    height: 40px;
  }

  box-sizing: border-box;
  padding-left: 16px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  // Typography
  color: #1E213F;
  font-size: 14px;
  font-weight: 700;
}

.up-arrow,
.down-arrow {
  position: absolute;
  right: 16px;
}

.up-arrow {
  bottom: 28px;

  @include mobile {
    bottom: 24px;
  }
}

.down-arrow {
  bottom: 15px;

  @include mobile {
    bottom: 11px;
  }
}

// FONT AND COLOR SECTION **************************************************
.fonts,
.colors {
  display: flex;
  gap: 16px;
}

.font,
.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  // Center content
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover:not(.checked) {
    outline: 1px solid #EFF1FA;
    outline-offset: 5px;
  }
}

// FONT SECTION **************************************************
.font {
  background: #EFF1FA;

  // Typography
  color: change-color($color: #1E213F, $alpha: 0.73);
  font-size: 15px;
  font-weight: 700;

  @for $i from 1 through length($fonts) {
    &:nth-of-type(#{$i}) {
      font-family: nth($fonts, $i);
    }
  }

  &.checked {
    background: #161932;
    color: #FFF;
  }
}

// COLOR SECTION **************************************************
.color {
  @for $i from 1 through length($colors) {
    &:nth-of-type(#{$i}) {
      background: nth($colors, $i);
    }
  }
}

// MISCELLANEOUS **************************************************
button.apply {
  $height: 52px;
  $border-radius: calc($height / 2);

  // Typography
  color: #FFF;
  font-size: 16px;
  font-weight: 700;

  background: var(--accent-color);
  width: 140px;
  height: $height;
  border-radius: $border-radius;

  // Positioning
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);

  .white-layer {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;

    &:hover {
      background: change-color(#FFF, $alpha: 0.2);
    }

    // Center content
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
